.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.imagest{
  width:300px;
  margin-left:"100px";
  border:"1px solid red" ;
 
}
.detailsCol{
  width:50%;
  margin-left:50px;
  margin-bottom: "-50px";
 
}

@media screen and (min-width: 1024px) and (max-width:2000px){
  .navbarhead{
    display:flex;
    margin-top:30px;
    width:1200px;
  }
.insidenavleft{
  display:flex;
  margin-left:200px;
  gap:30px;
}
.navbarleftlogo{
  width:100px;
  height:50px;
  margin-top:-5px;
}


  .detailsPage{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
    width:1000px;
    margin-left:180px;
    margin-top: 80px;
    
  }
  .browseclass{
    margin-left:-620px;
    font-weight:bolder;
    font-size:30px;
    margin-top:80px;
  }
}
@media screen and (min-width: 720px) and (max-width:1024px){
  /* .navbarhead{
    display:flex;
    margin-top:30px;
    width:700px;
    margin-left: -200px;
  } */
  .detailsPage{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
    width:500px;
    margin-left:200px;
    margin-top: 80px;
    
  }
  .browseclass{
    margin-left:-300px;
    font-weight:bolder;
    font-size:25px;
    margin-top:80px;
  }
}
@media screen and (min-width: 320px) and (max-width: 720px){
  .detailsPage{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
    width:600px;
    margin-left:80px;
    margin-top: 80px;
  }
  .browseclass{
    margin-left:40px;
    font-weight:bolder;
    font-size:20px;
    margin-top:40px;
  }
}

.burgerItem{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}
.boxsingleBurger{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 
}

.cartStyle{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.indiCart{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
